{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <p></p>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Ha ocurrido un error en el proceso
        </div>
    {% endif %}
    <h1 align="center">Registro de departamentos</h1>
    <form action="{% url 'guardarDepartamento' %}" method="post">
    {% csrf_token %}
    {% if mensaje %}
         <div class="alert alert-success" role="alert">
                Departamento registrado exitosamente
         </div>
    {% endif %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a class="btn btn-warning" href="{% url 'listarDepartamento' %}">Cancelar</a>
    </form>


{% endblock %}