{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div id="content-wrapper" class="d-flex flex-column">
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
             No fue posible modificar el establecimiento
        </div>
    {% endif %}
    <p></p>
    <p></p>
    <p></p>
    <h1> Modificacion de establecimiento </h1>
    <form action = "" method="POST" >
        {% csrf_token %}
        {% if mensaje %}
        <div class="alert alert-success" role="alert">
            Establecimiento modificado exitosamente
        </div>
        {% endif %}
        {{ form|crispy}}
            <button type="submit" class="btn btn-primary">Modificar</button>
            <a class="btn btn-warning" href="{% url 'listarEstablecimientos' %}">Mostrar establecimientos</a>
    </form>
    </div>
{% endblock %}