{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <div id="content-wrapper" class="d-flex flex-column">
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
             No fue posible registrar municipio
        </div>
    {% endif %}
    <p></p>
    <p></p>
    <p></p>
    <h1> Registro de municipio</h1>

    <form action = "{% url 'guardarMunicipio' %}" method="POST" >

        {% csrf_token %}
        {% if mensaje %}

        <div class="alert alert-success" role="alert">
            Municipio registrado correctamente
        </div>
        {% endif %}
        {{ form|crispy}}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-warning" href="{% url 'listarMunicipios' %}">Cancelar</a>
    </form>
    </div>
{% endblock %}